.buttons_interface{
	
	background-color: white;
	font-size: 1.3em;
	opacity: 0.7;
	padding: 5px 10px;
	position: absolute;
	cursor: pointer;
	
}
.buttons_interface:hover{opacity: 1;}
.buttons_interface.top{
	
	top: 40%;
	left: 50%;
	
}

/*.buttons_toggle {
  background-color: white;
  border: 1px solid;
  opacity: 0.7;
  cursor: pointer;
  font-size: 1.3em !important;
  padding: 5px 10px;
  opacity: 0.7;
}

.buttons_toggle:hover{opacity: 1;}*/

.reducedfrom .input_toggle {
  width: 25%;
}

.actual .input_toggle {
  width: 40%;
}

.menu_head .input_toggle {
  color: #333;
}

.input_toggle {
  text-transform: uppercase;
}

.menu_head {
  background: none repeat scroll 0 0 #005fa8;
}

.menu_head .input_toggle {
  position: absolute;
}

