.buttons_interface {
	
	background-color: white;
	border: 1px solid #3d3e42;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1.2em;
	padding: 3px 6px;
	position: absolute;
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #d6d6d6 36%, #c9c9c9 54%, #999999 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(36%,#d6d6d6), color-stop(54%,#c9c9c9), color-stop(100%,#999999)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#d6d6d6 36%,#c9c9c9 54%,#999999 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f2f2 0%,#d6d6d6 36%,#c9c9c9 54%,#999999 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#d6d6d6 36%,#c9c9c9 54%,#999999 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f2f2 0%,#d6d6d6 36%,#c9c9c9 54%,#999999 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#999999',GradientType=0 ); /* IE6-9 */

}
.buttons_interface.top{
	top: 76%;
	left: 89%;
}
.buttons_interface.banner {
  	left: 84%;
  	top: 86%;
}
.buttons_interface.banner_2.banner {top: 79%;}
.buttons_interface.shipping {
  	left: 85%;
  	top: 74%;
}
.jfilestyle {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  z-index: 1;
}
.jfilestyle.top {
  left: 89%;
  top: 76%;
}

.jfilestyle.banner {
  left: 83%;
  top: 86%;
}
.jfilestyle.banner_2.banner {top: 79%;}
.jfilestyle.shipping {
  left: 85%;
  top: 74%;
}



/*.buttons_toggle {
  background-color: white;
  border: 1px solid;
  opacity: 0.7;
  cursor: pointer;
  font-size: 1.3em !important;
  padding: 5px 10px;
  opacity: 0.7;
}

.buttons_toggle:hover{opacity: 1;}*/

span.reducedfrom .input_toggle {
  width: 25% !important;
}

span.actual .input_toggle {
  width: 38%;
}

.menu_head .input_toggle {
  color: #333;
}

.input_toggle {
  text-transform: uppercase;
}

.menu_head {
  background: none repeat scroll 0 0 #005fa8;
}

.menu_head .input_toggle {
  position: absolute;
}

